@import url(<https://fonts.googleapis.com/css?family=VT323);
@import url("https://fonts.googleapis.com/css?family=Yesteryear");
@font-face {
  font-family: 'akaDylan';
  src: url("../../fonts/akaDylan_Plain.ttf"); }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.heros-container {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 900px;
  width: 100%; }

.hero {
  position: relative;
  width: 15%; }

.hero__dracula {
  left: -33%;
  bottom: 10%;
  animation-name: dracula;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  /*    visibility: hidden;*/ }

@keyframes dracula {
  from {
    left: -33%;
    bottom: 10%; }
  to {
    left: 27%;
    bottom: 10%; } }

.hero__mummy {
  left: -47%;
  bottom: 12%;
  animation-name: mummy;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden; }

@keyframes mummy {
  from {
    left: -47%;
    bottom: 12%; }
  to {
    left: 47%;
    bottom: 8%; } }

.hero__dog {
  left: -45%;
  bottom: 15%;
  animation-name: dog;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden; }

@keyframes dog {
  from {
    left: -45%;
    bottom: 15%; }
  to {
    left: 7%;
    bottom: 13%; } }

.tooltip {
  position: absolute;
  width: 150%; }

.tooltip__dracula {
  left: -127%;
  top: -31%; }

.tooltip__mummy {
  left: -127%;
  top: -33%; }

.tooltip__dog {
  left: -135%;
  top: -37%;
  transform: rotate(7deg); }

.tooltip__frites {
  left: -107%;
  top: -23%;
  max-width: 90%; }

.tooltip__lettuce {
  left: -57%;
  top: -20%;
  max-width: 70%; }

.tooltip__chicken-leg {
  left: -120%;
  top: -10%;
  max-width: 80%; }

.tooltip__chicken-breast {
  left: -90%;
  top: 0;
  max-width: 70%; }

.counter {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0; }
  .counter__frites {
    position: absolute;
    left: 9%;
    bottom: 13%;
    width: 10%;
    z-index: 201; }
  .counter__chicken-leg {
    position: absolute;
    left: 30%;
    bottom: 11%;
    width: 10%;
    z-index: 301; }
  .counter__lettuce {
    position: absolute;
    left: 50%;
    bottom: 8%;
    width: 9%;
    z-index: 401; }
  .counter__chicken-breast {
    position: absolute;
    left: 70%;
    bottom: 8%;
    width: 10%;
    z-index: 501; }

.main-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-container--start {
    background-image: url(../../../assets/images/start/background-start.gif); }
  .main-container--game {
    background-image: url(../../../assets/images/background_game.jpg); }
  .main-container--thank-you {
    background-color: #00746b;
    align-items: flex-start; }

.lamp {
  position: absolute;
  top: -55px;
  left: -20px;
  max-width: 15%;
  z-index: 102; }

.logo {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 23%; }

.plate-player__container {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 20%;
  z-index: 101; }

.plate-player {
  position: relative; }

.tooltip__frites--player {
  left: 5%;
  top: 10%;
  max-width: 65%; }

.tooltip__chicken-leg--player {
  left: 0;
  top: 30%;
  max-width: 65%; }

.tooltip__lettuce--player {
  left: 40%;
  top: 10%;
  max-width: 55%; }

.tooltip__chicken-breast--player {
  left: 20%;
  top: 45%;
  max-width: 65%; }

.bt {
  position: absolute;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 50%;
  border: 1px solid #005A52; }
  .bt:hover {
    background-color: #F9D209;
    color: #00746b;
    text-shadow: 0px 0px; }
  .bt__play {
    width: 27%;
    height: 10%;
    padding: 25px;
    left: 25%;
    bottom: -40px;
    background-color: #3AB54B;
    box-shadow: 4px 4px #005A52;
    color: white;
    font-size: 3.8vw;
    text-shadow: 4px 4px #00746b; }
  .bt__serve {
    width: 50%;
    bottom: 5%;
    left: 25%;
    background-color: #3AB54B;
    box-shadow: 3px 3px #00746b;
    color: white;
    font-size: 22px;
    text-shadow: 3px 3px #00746b; }
  .bt__play-again {
    position: relative;
    width: 30%;
    height: 30%;
    background-color: #3AB54B;
    box-shadow: 4px 4px #005A52;
    color: white;
    font-size: 2.5vw;
    text-shadow: 4px 4px #00746b; }
  .bt__results {
    position: relative;
    width: 35%;
    height: 30%;
    background-color: #F78E57;
    box-shadow: 4px 4px #005A52;
    color: white;
    font-size: 2.5vw;
    text-shadow: 4px 4px #00746b; }

.score-container {
  position: absolute;
  right: 7%;
  top: 90px;
  width: 30%;
  height: 7%; }

.score {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #00746b;
  border-radius: 10px;
  z-index: 110;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  font-size: 28px;
  letter-spacing: 3px;
  text-shadow: 4px 4px #005A52; }

.parrot {
  position: relative;
  left: 70%;
  bottom: 260%;
  width: 30%;
  z-index: 99; }

.timer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #F9D209;
  z-index: 211; }

.timer {
  color: black;
  background-color: white;
  font-size: 64px;
  padding: 10px 25px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'VT323', monospace; }

.name-of-game-start {
  position: absolute;
  width: 65%;
  top: -55px;
  left: 5%; }

.claim-start {
  position: relative;
  left: 20px;
  top: -70px;
  font-family: 'Yesteryear';
  font-size: 4.3vw;
  letter-spacing: 2px;
  color: white;
  text-shadow: 4px 4px #005A52; }

.how-to-play {
  position: absolute;
  width: 25%;
  top: 20%;
  right: 4%;
  padding: 40px;
  background: #005A52;
  border-radius: 50%;
  color: white;
  letter-spacing: 1px;
  text-align: center; }
  .how-to-play h3 {
    color: #F78E57;
    font-size: 2.5vw;
    text-shadow: 3px 3px #00746b; }
  .how-to-play p {
    font-size: 1.6vw;
    text-shadow: 2px 2px #00746b; }

.parrot-start {
  position: absolute;
  right: 0;
  top: 0;
  width: 15%; }

.mummy-start {
  position: absolute;
  left: 45%;
  bottom: -200px;
  width: 13%;
  overflow: hidden; }

.thank-you-container {
  position: absolute;
  left: 25%;
  top: 22%; }
  .thank-you-container a {
    display: block;
    float: left;
    margin-left: 30px; }
  .thank-you-container p {
    color: white;
    font-size: 3.5vw;
    text-shadow: 4px 4px #005A52;
    letter-spacing: 1px; }

.score-list {
  position: absolute;
  top: 22%;
  left: 15%;
  color: white;
  font-size: 2.2vw;
  letter-spacing: 1px;
  text-shadow: 4px 4px #005A52; }
  .score-list h2 {
    color: #F78E57;
    font-size: 3vw;
    letter-spacing: 2px; }

.scores-image {
  position: absolute;
  width: 37%;
  right: 12%;
  top: 20%; }

html,
body {
  font-family: "akaDylan";
  background-color: #00746b;
  width: 100%;
  height: 100%;
  overflow: hidden; }

img {
  width: 100%; }

footer {
  padding: 0.8rem;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 1.5vw;
  text-shadow: 2px 2px #005A52; }
