.bt {
    position: absolute;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 50%;
    border: 1px solid $bt-border;

    &:hover {
        background-color: $bt-hover;
        color: $main-color;
        text-shadow: 0px 0px;
    }

    // Button for Start page
    &__play {
        width: 27%;
        height: 10%;
        padding: 25px;
        left: 25%;
        bottom: -40px;
        background-color: $bt-color;
        box-shadow: 4px 4px $main-color-dark;
        color: white;
        font-size: 3.8vw;
        text-shadow: 4px 4px $main-color;
    }

    // Button for Game page
    &__serve {
        width: 50%;
        bottom: 5%;
        left: 25%;
        background-color: $bt-color;
        box-shadow: 3px 3px $main-color;
        color: white;
        font-size: 22px;
        text-shadow: 3px 3px $main-color;
    }

    // Buttons for Thank you page
    &__play-again {
        position: relative;
        width: 30%;
        height: 30%;
        background-color: $bt-color;
        box-shadow: 4px 4px $main-color-dark;
        color: white;
        font-size: 2.5vw;
        text-shadow: 4px 4px $main-color;
    }

    &__results {
        position: relative;
        width: 35%;
        height: 30%;
        background-color: $header-color;
        box-shadow: 4px 4px $main-color-dark;
        color: white;
        font-size: 2.5vw;
        text-shadow: 4px 4px $main-color;
    }
}
