.main-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;

    &--start {
    background-image: url(../../../assets/images/start/background-start.gif);
    }
    &--game {
    background-image: url(../../../assets/images/background_game.jpg);
    }
    &--thank-you {
    background-color: $main-color;
    align-items: flex-start;
    }
}

.lamp {
    position: absolute;
    top: -55px;
    left: -20px;
    max-width: 15%;
    z-index: 102;
}
.logo {
    position: absolute;
    left: 3%;
    top: 3%;
    width: 23%
}

