.counter {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    
    &__frites {
    position: absolute;
    left: 9%;
    bottom: 13%;
    width: 10%;
    z-index: 201;
    }

    &__chicken-leg {
    position: absolute;
    left: 30%;
    bottom: 11%;
    width: 10%;
    z-index: 301;
    }

    &__lettuce {
    position: absolute;
    left: 50%;
    bottom: 8%;
    width: 9%;
    z-index: 401;
    }

    &__chicken-breast {
    position: absolute;
    left: 70%;
    bottom: 8%;
    width: 10%;
    z-index: 501;
    }
}
