 .tooltip {
     position: absolute;
     width: 150%;
 }

 .tooltip__dracula {
     left: -127%;
     top: -31%;
 }

 .tooltip__mummy {
     left: -127%;
     top: -33%;
 }

 .tooltip__dog {
     left: -135%;
     top: -37%;
     transform: rotate(7deg);
 }

 .tooltip__frites {
     left: -107%;
     top: -23%;
     max-width: 90%;
 }

 .tooltip__lettuce {
     left: -57%;
     top: -20%;
     max-width: 70%;
 }

 .tooltip__chicken-leg {
     left: -120%;
     top: -10%;
     max-width: 80%;
 }

 .tooltip__chicken-breast {
     left: -90%;
     top: 0;
     max-width: 70%;
 }
