.heros-container {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 900px;
    width: 100%;
}

.hero {
    position: relative;
    width: 15%;
}

.hero__dracula {
    left: -33%;
    bottom: 10%;
    animation-name: dracula;
    @include hero-animation;
    /*    visibility: hidden;*/
}

@keyframes dracula {
    from {
        left: -33%;
        bottom: 10%;
    }
    to {
        left: 27%;
        bottom: 10%;
    }
}

.hero__mummy {
    left: -47%;
    bottom: 12%;
    animation-name: mummy;
    @include hero-animation;
    visibility: hidden;
}

@keyframes mummy {
    from {
        left: -47%;
        bottom: 12%;
    }
    to {
        left: 47%;
        bottom: 8%;
    }
}

.hero__dog {
    left: -45%;
    bottom: 15%;
    animation-name: dog;
    @include hero-animation;
    visibility: hidden;
}

@keyframes dog {
    from {
        left: -45%;
        bottom: 15%;
    }
    to {
        left: 7%;
        bottom: 13%;
    }
}
