// Heros animations
@mixin hero-animation {
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

// Breakpoints
@mixin ss {
    @media (max-width: 420px) {
        @content;
    }
}

@mixin xs {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin sm {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin xlg {
    @media (max-width: 1549px) {
        @content;
    }
}

@mixin full {
    @media (min-width: 1550px) {
        @content;
    }
}