.plate-player__container {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 20%;
    z-index: 101;
}
.plate-player {
    position: relative;
}
.tooltip__frites--player {
    left: 5%;
    top: 10%;
    max-width: 65%;
}
.tooltip__chicken-leg--player {
    left: 0;
    top: 30%;
    max-width: 65%;
}
.tooltip__lettuce--player {
    left: 40%;
    top: 10%;
    max-width: 55%;
}
.tooltip__chicken-breast--player {
    left: 20%;
    top: 45%;
    max-width: 65%;
}