.score-list {
    position: absolute;
    top: 22%;
    left: 15%;
    color: white;
    font-size: 2.2vw;
    letter-spacing: 1px;
    text-shadow: 4px 4px $main-color-dark;
    
    h2 {
        color: $header-color;
        font-size: 3vw;
        letter-spacing: 2px;
    }
}

.scores-image {
    position: absolute;
    width: 37%;
    right: 12%;
    top: 20%;
}