.score-container {
    position: absolute;
    right: 7%;
    top: 90px;
    width: 30%;
    height: 7%;
}
.score {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: $main-color;
    border-radius: 10px;
    z-index: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 28px;
    letter-spacing: 3px;
    text-shadow: 4px 4px $main-color-dark;
}
.parrot {
    position: relative;
    left: 70%;
    bottom: 260%;
    width: 30%;
    z-index: 99;
}
