.name-of-game-start {
    position: absolute;
    width: 65%;
    top: -55px;
    left: 5%;
}

.claim-start {
    position: relative;
    left: 20px;
    top: -70px;
    font-family: 'Yesteryear';
    font-size: 4.3vw;
    letter-spacing: 2px;
    color: white;
    text-shadow: 4px 4px $main-color-dark;
}

.how-to-play {
    position: absolute;
    width: 25%;
    top: 20%;
    right: 4%;
    padding: 40px;
    background: $main-color-dark;
    border-radius: 50%;
    color: white;
    letter-spacing: 1px;
    text-align: center;

    h3 {
        color: $header-color;
        font-size: 2.5vw;
        text-shadow: 3px 3px $main-color;
    }
    p {
        font-size: 1.6vw;
        text-shadow: 2px 2px $main-color;
    }
}

.parrot-start {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}

.mummy-start {
    position: absolute;
    left: 45%;
    bottom: -200px;
    width: 13%;
    overflow: hidden;
}
