.thank-you-container {
    position: absolute;
    left: 25%;
    top: 22%;

    a {
        display: block;
        float: left;
        margin-left: 30px;
    }

    p {
        color: white;
        font-size: 3.5vw;
        text-shadow: 4px 4px $main-color-dark;
        letter-spacing: 1px;
    }
}
