.timer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: $bt-hover;
    z-index: 211;
}
.timer {
    color: black;
    background-color: white;
    font-size: 64px;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'VT323', monospace;
}