//Import fonts
@import url(<https://fonts.googleapis.com/css?family=VT323);
@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@font-face {
    font-family: 'akaDylan';
    src: url('../../fonts/akaDylan_Plain.ttf');
}

// Import partials
@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'heros';
@import 'hero-plate';
@import 'counter';
@import 'common';
@import 'player-plate';
@import 'buttons';
@import 'score';
@import 'timer';
@import 'start';
@import 'thank-you';
@import 'results';

html,
body {
    font-family: $main-font;
    background-color: $main-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
}

footer {
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.5vw;
    text-shadow: 2px 2px $main-color-dark;
}
